<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS Intro</title>
  <script src="vendors/angular.min.js"></script>
  <script src="client.js"></script>
</head>

<body ng-app="MyApp" ng-controller="WelcomeController as vm">
  <h1>AngularJS Intro</h1>
  <div>
    <input ng-model="vm.message">
    <button ng-click="vm.greet(vm.message)">Click Me</button>
    <ul>
      <li ng-repeat="thing in vm.pointyThings">
        {{thing.name}} have a sharpness of {{thing.sharpness}}
        <span ng-if="thing.isPoisonous"> and are poisonous!</span>
        <span ng-hide="thing.isPoisonous">but no poison.</span>
      </li>
    </ul>
    <div>
      {{vm}}
    </div>
  </div>
</body>
</html>